# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints

# exclude data from source control by default
/data/
/data/uc2/
/data/raw/
/data/base/
/data/preprocessing/

# Mac OS-specific storage files
.DS_Store
/.DS_Store


# Mypy cache
.mypy_cache/
/.gitattributes
/.idea
configs/comet_config.json
models/dbscan_results.csv
