attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
combo==0.1.2
comet-ml==3.2.11
configobj==5.0.6
cycler==0.10.0
Cython==0.29.14
dotmap==1.3.23
dulwich==0.20.15
eif==1.0.2
everett==1.0.3
fuzzywuzzy==0.18.0
gensim==3.8.3
icu==0.0.1
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
jsonschema==3.2.0
kiwisolver==1.3.1
kneed==0.7.0
llvmlite==0.35.0
matplotlib==3.3.3
netifaces==0.10.9
nltk==3.5
numba==0.52.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
pandas==1.2.1
patsy==0.5.1
Pillow==8.1.0
psutil==5.8.0
pyod==0.8.6
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
rrcf==0.4.3
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
smart-open==4.1.2
statsmodels==0.12.1
suod==0.0.6
threadpoolctl==2.1.0
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websocket-client==0.57.0
wincertstore==0.2
wrapt==1.12.1
wurlitzer==2.0.1
zipp==3.4.0
